<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
    <meta charset="utf-8">
    <meta name="generator" content="Bootply">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="assets/css/holo.css" rel="stylesheet">
		
		<title>FOX AND WOLF</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    
      <div class="page-container">
        <% if user_signed_in? %>    
        	<!-- top navbar -->
          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div id="navbar">
              <ul class="nav navbar-nav">
                <div class="navbar-brand"><b>WELCOME! <%=current_user.nickname%></b></div>
                <li></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li></li>
              </ul>
            </div>
          </div>
          
          <div class="main-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row ">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="sidebar" role="navigation">
                <div class="affix-top" data-spy="affix" data-offset-top="45" data-offset-bottom="90">
                  <ul class="nav" id="sidebar-nav">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/fox">FOX</a></li>
                    <li><a href="/wolf">WOLF</a></li>
                    <li><a href="/agreeinorder">Agree</a></li>
                    <li><a href="/follow_gather">follow글</a></li>
                    <%if current_user.nil?%>
                    <%else%>
                      <li><a href="/userblog?nickname=<%=current_user.nickname%>">내 글</a></li>
                    <%end%>
                    <%if current_user.nil?%>
                    <%else%>
                      <li><a href="/mypage?nickname=<%=current_user.nickname%>">마이페이지</a></li>
                    <%end%>              
                    <li><a href="/users/sign_out" data-method="delete" >로그아웃</a></li>
                  </ul>
                </div>
              </div>
              
              <div class = "col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <!--<div class = "container">-->
                  <%= yield %>  
                <!--</div>-->
              </div>
              
              <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2" id="sidebar" role="navigation">
                <div class="affix-top" data-spy="affix" data-offset-top="45" data-offset-bottom="90">
                 <ul class="nav" id="sidebar-nav" role="navigation">
                    <li><a><b>FOX AND WOLF</b><br>2015</a></li>
                    <li><a>남정민<br>노태민<br>민영기<br>박건형<br>이상효</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>        
        <%else%>
          <!--<div class = "col-sm-12">-->
          <!--  <div class = "col-sm-3"></div>-->
          <!--  <div class = "col-sm-7 col-md-7">-->
              <div class = "container">
                <%= yield %>  
              </div>
          <!--  </div>-->
          <!--</div>-->
        <%end%>  
      </div>
    
  </body>
</html>

    
<script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle=offcanvas]').click(function() {
	     $('.row-offcanvas').toggleClass('active');
    });
    $('.btn-toggle').click(function() {
	    $(this).find('.btn').toggleClass('active').toggleClass('btn-default').toggleClass('btn-primary');
    });
  });
</script>